<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css?version=51">
    <link rel="stylesheet" type="text/css" href="/css/list.css?version=51">
    <script src="/js/utils.js?version=51"></script>
</head>
<body>
    <a class="home" href="/patient/main"></a>
    <div class="clip_fst"></div>
    <div class="clip_sec">
        <form class="top" method="GET" action="/patient/doctors">
            <label for="jobs"></label>
            <select onchange="submitForm(this)" class="inp" name="job" id="jobs">
                <option th:selected="${selectedJob == null}" value="">Все врачи</option>
                <option th:selected="${selectedJob == job.getName()}" th:each="job : ${jobs}" th:value="${job.getName()}" th:text="${job.getName()}"></option>
            </select>
            <!--input class="btn" type="submit" value="Искать"-->
        </form>
        <div class="plt" th:each="doctor : ${doctors}">
            <div class="fld">
                <span class="txt" th:text="${'Имя: ' + doctor.getFullName()}"></span>
            </div>
            <div class="fld">
                <span class="txt" th:text="${'Смена: ' + (doctor.getShift() == 0 ? 'чётна' : 'нечётная')}"></span>
            </div>
            <div class="fld">
                <span class="txt" th:text="${'Должность: ' + doctor.getJob().getName()}"></span>
            </div>
            <form class="fld" th:method="GET" th:action="@{/patient/new/{id}/appointment(id=${doctor.getId()})}">
                <input class="inp btn" type="submit" value="Записаться">
            </form>
        </div>
    </div>
</body>
</html>