<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditProfile</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css?version=51">
    <link rel="stylesheet" type="text/css" href="/css/password.css?version=51">
    <link rel="stylesheet" type="text/css" href="/css/line.css?version=51">
    <script src="/js/password.js?version=51"></script>
</head>
<body>
    <a class="home" href="/patient/main"></a>
    <div class="center line">
        <form class="line-el" th:method="PATCH" th:action="@{/patient/edit/profile}" th:object="${editProfileRequest}">
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                <br th:if="${#fields.hasErrors('login')}"/>
                <label for="login"></label>
                <input class="inp" type="text" th:field="*{login}" id="login" placeholder="Логин">
            </div>
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                <br th:if="${#fields.hasErrors('fullName')}"/>
                <label for="fullName"></label>
                <input class="inp" type="text" th:field="*{fullName}" id="fullName" placeholder="Полное имя">
            </div>
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
                <br th:if="${#fields.hasErrors('birthday')}"/>
                <label for="birthday"></label>
                <input class="inp" type="date" th:field="*{birthday}" id="birthday">
            </div>
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                <br th:if="${#fields.hasErrors('address')}"/>
                <label for="address"></label>
                <input class="inp" type="text" th:field="*{address}" id="address" placeholder="Адрес">
            </div>
            <div class="fld">
                <input class="inp btn" type="submit" value="Сохранить">
            </div>
        </form>
        <form class="line-el" th:method="PATCH" th:action="@{/patient/edit/password}" th:object="${editPasswordRequest}">
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
                <br th:if="${#fields.hasErrors('oldPassword')}"/>
                <label for="oldPassword"></label>
                <input class="inp password" type="password" th:field="*{oldPassword}" id="oldPassword" placeholder="Старый пароль">
                <a class="password-view" onclick="showPassword(this);"></a>
            </div>
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
                <br th:if="${#fields.hasErrors('newPassword')}"/>
                <label for="newPassword"></label>
                <input class="inp password" type="password" th:field="*{newPassword}" id="newPassword" placeholder="Новый пароль">
                <a class="password-view" onclick="showPassword(this);"></a>
            </div>
            <div class="fld">
                <span class="err" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></span>
                <br th:if="${#fields.hasGlobalErrors()}"/>
                <label for="confirmPassword"></label>
                <input class="inp password" type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Подтвердить пароль">
                <a class="password-view" onclick="showPassword(this);"></a>
            </div>
            <div class="fld">
                <input class="inp btn" type="submit" value="Сохранить пароль">
            </div>
        </form>
    </div>
</body>
</html>