<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewAppointment</title>
    <script th:inline="javascript">
        let freeTimes = [[${freeTimes}]];
    </script>
    <link rel="stylesheet" type="text/css" href="/css/main.css?version=51">
    <script src="/js/options.js?version=51"></script>
</head>
<body>
    <a class="home" href="/patient/main"></a>
    <form class="center" th:method="POST" th:action="@{/patient/new/{id}/appointment(id=${appointmentRequest.getDoctorId()})}" th:object="${appointmentRequest}">
        <div class="fld">
            <span class="err" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></span>
            <br th:if="${#fields.hasGlobalErrors()}"/>
            <label for="date"></label>
            <select class="inp" th:onchange="findDateOption(this)" th:field="*{date}" id="date">
                <option th:each="ft : ${freeTimes}" th:value="${ft.a}" th:text="${ft.a}"></option>
            </select>
        </div>
        <div class="fld">
            <label for="time"></label>
            <select class="inp time_slr" th:field="*{time}" id="time">
                <option th:each="tm : ${freeTimes.getFirst().b}" th:value="${tm}" th:text="${tm}"></option>
            </select>
        </div>
        <div class="fld">
            <label for="comment"></label>
            <input class="inp" type="text" th:field="*{comment}" id="comment">
        </div>
        <div class="fld">
            <input class="inp btn" type="submit" value="Записаться">
        </div>
    </form>
</body>
</html>