.clip_fst{
    position: fixed;
    background-color: rgba(150, 150, 255, 1);
    width: 60%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -8px);
}

.clip_sec{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.plt{
    background-color: rgba(200, 200, 200, 1);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.low + .plt {
    margin-top: 0px;
}

.top{
    margin-top: 15px;
    margin-left: 10px;
}