.txt{
    text-align: center;
    font-size: 24px;
    background-color: white;
    width: 15em;
    min-height: 1.75em;
    display: inline-block;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

.clip_fst{
    position: fixed;
    background-color: rgba(150, 150, 255, 1);
    width: 60%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -8px);
}

.clip_sec{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.plt{
    background-color: rgba(200, 200, 200, 1);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.top{
    margin-top: 15px;
    margin-left: 10px;
}