.password-view {
	position: absolute;
	right: 0.5em;
	width: 2.5em;
	height: 2.5em;
	background: url(/svg/password-view.svg) 0 0 no-repeat;
}

.password-view.visible {
	background: url(/svg/password-no-view.svg) 0 0 no-repeat;
}