<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Your count is <p th:text="${count}"></p>
<br/>
<p th:if="${auth != null}">Your login is <i th:text="${auth.login() + ': ' + auth.role()}"></i></p>
<button id="bt" th:text="${first}"></button>
</body>
<script th:inline="javascript">
    let hello = [[${second}]];
    let bt = document.getElementById('bt');
    bt.addEventListener('click', function() {
        bt.textContent = hello;
    });
</script>
</html>