<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>
    <div th:each="appointment : ${appointments}">
        <hr/>
        <p th:text="${appointment.getPatient().getFullName()}"></p>
        <p th:text="${appointment.getDateTime()}"></p>
        <p th:text="${appointment.getPatientComment()}"></p>
        <form th:if="${appointment.getDateTime().isBefore(curDateTime)}" th:method="GET" th:action="@{/doctor/edit/appointment/{id}(id=${appointment.getId()})}">
            <input type="submit" value="Заполнить форму">
        </form>
    </div>
</body>
</html>