<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Appointment</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css?version=51">
</head>
<body>
    <a class="home" href="/doctor/main"></a>
    <div class="center">
        <div class="fld">
            <span class="inp txt" th:text="${'ФИО: ' + appointment.getPatient().getFullName()}"></span>
        </div>
        <div class="fld">
            <span class="inp txt" th:text="${'Дата и время: ' + appointment.getDateTime()}"></span>
        </div>
        <div class="fld">
            <span class="inp txt" th:text="${'Комментарий: ' + appointment.getPatientComment()}"></span>
        </div>
        <form class="fld" th:method="PATCH" th:action="@{/doctor/edit/appointment/{id}(id=${appointment.getId()})}" th:object="${appointmentRequest}">
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
                <label for="status"></label>
                <select class="inp" th:field="*{status}" id="status">
                    <option th:each="st : ${statuses}" th:value="${st}" th:text="${st.getRuName()}"></option>
                </select>
            </div>
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('diagnosis')}" th:errors="*{diagnosis}"></span>
                <label for="diagnosis"></label>
                <input class="inp" type="text" th:field="*{diagnosis}" id="diagnosis" placeholder="Диагноз">
            </div>
            <div class="fld">
                <span class="err" th:if="${#fields.hasErrors('treatmentMeasures')}" th:errors="*{treatmentMeasures}"></span>
                <label for="treatmentMeasures"></label>
                <input class="inp" type="text" th:field="*{treatmentMeasures}" id="treatmentMeasures" placeholder="Рекомендации к лечению">
            </div>
            <div class="fld">
                <input class="inp btn" type="submit" value="Сохранить">
            </div>
        </form>
    </div>
</body>
</html>