<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css?version=51">
    <link rel="stylesheet" type="text/css" href="/css/list.css?version=51">
</head>
<body>
    <a class="home" href="/doctor/main"></a>
    <div class="clip_fst"></div>
    <div class="clip_sec">
        <div class="plt">
            <div class="fld">
                <span class="inp txt" th:text="${'ФИО: ' + patient.getFullName()}"></span>
            </div>
            <div class="fld">
                <span class="inp txt" th:text="${'Дата рождения: ' + patient.getBirthday()}"></span>
            </div>
            <div class="fld">
                <span class="inp txt" th:text="${'Адрес: ' + patient.getAddress()}"></span>
            </div>
        </div>
        <span class="low">История</span>
        <div class="plt" th:each="appointment :${appointments}">
            <div class="fld">
                <span class="inp txt" th:text="${'Дата и время: ' + appointment.getDateTime()}"></span>
            </div>
            <div class="fld">
                <span class="inp txt" th:text="${'Комментарий: ' + appointment.getPatientComment()}"></span>
            </div>
            <div class="fld">
                <span class="inp txt" th:text="${'Статус: ' + appointment.getStatus().getRuName()}"></span>
            </div>
            <div class="fld">
                <span class="inp txt" th:text="${'Диагноз: ' + appointment.getDiagnosis()}"></span>
            </div>
            <div class="fld">
                <span class="inp txt" th:text="${'Рекомендации: ' + appointment.getTreatmentMeasures()}"></span>
            </div>
            <form class="fld" th:method="GET" th:action="@{/doctor/edit/appointment/{id}(id=${appointment.getId()})}">
                <input class="inp btn" type="submit" value="Изменить данные">
            </form>
        </div>
    </div>
</body>
</html>