<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css?version=51">
</head>
<body>
    <div class="center">
        <form class="fld" method="GET" action="/doctor/profile">
            <input class="inp btn" type="submit" value="Профиль">
        </form>
        <form class="fld" method="GET" action="/doctor/patients">
            <input class="inp btn" type="submit" value="Пациенты">
        </form>
        <form class="fld" method="GET" action="/doctor/appointments">
            <input class="inp btn" type="submit" value="Записи ко мне">
        </form>
    </div>
</body>
</html>