<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css?version=51">
</head>
<body>
    <a class="home" href="/doctor/main"></a>
    <div class="center">
        <div class="fld">
            <span class="inp txt" th:text="${'ФИО: ' + doctor.getFullName()}"></span>
        </div>
        <div class="fld">
            <span class="inp txt" th:text="${'Должность: ' + doctor.getJob().getName()}"></span>
        </div>
        <div class="fld">
            <span class="inp txt" th:text="${'Сменность: ' + doctor.getShiftName()}"></span>
        </div>
        <div class="fld">
            <span class="inp txt" th:text="${'Логин: ' + doctor.getUserData().getLogin()}"></span>
        </div>
        <div class="fld">
            <span class="inp txt" th:text="${'Роль: ' + doctor.getUserData().getRole().getRuName()}"></span>
        </div>
        <form class="fld" method="POST" action="/auth/logout">
            <input class="inp btn" type="submit" value="Выйти">
        </form>
    </div>
</body>
</html>